
services:
  default_config: &default
    DATABASE_URL: mysql+pymysql://sql_helper:Abcd1234@db01:3306/inventory
    TIMEOUT_SECONDS: 30
    MAX_RETRIES: 3
    COMPLEX: JSON
    # Default value is JSON, can be overridden to NONE  

  supplier_creator:
    <<: *default
    WAIT_TIME: [300, 900]
    # WAIT_TIME: [1, 3]
    TYPE: ['music','vehicle','manufacturer', 'wholesaler', 'distributor', 'retailer']
    NUM_PROCESSES: 1
    RETENTION_HOUR: 2160

  orders_creator:
    <<: *default
    NUM_PROCESSES: 2
    WAIT_TIME: [10,60]
    TYPE: [{"name":"vehicle", "provider":"VehicleProvider", "method":"fake.vehicle_object()"},{"name":"music","provider":"MusicProvider","method":"fake.music_genre_object()"}]
    STATUS:
      created: 50
      pending: 8
      shipped: 20
      delivered: 2
      others: 12

  orders_modifier:
    <<: *default
    NUM_PROCESSES: 2
    WAIT_TIME: [3,15]
    STATUS:
      cancelled: 8
      shipped: 12
      delivered: 40
      completed: 40
    RAND_LAST_HOURS: 12
    
  orders_purger:
    <<: *default
    NUM_PROCESSES: 1
    WAIT_TIME: [60,120]
    RETENTION_HOURS: 700
    BATCH_SIZE: 500
